*{
  margin: 0;
  padding: 0;
}
body{

  background-image:url(../img/background-image.jpg);

}
nav{
  height: 60px;
  border-top-right-radius: 40%;
  border-bottom-right-radius:10px;
}
#body1{
  overflow: auto;
  margin-left: 5px;

}

#body{
  height: 300px;
  padding: 5px;
  margin-left: 5px;
  font-size: 18px;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#logo{
  font-size: 30px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
 font-style: italic;
  margin-left: auto;
  color: white;
  text-shadow:-1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; ;
}
#contenthead{
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  color: whitesmoke;
  
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  border-radius: 10%;
  
}
#hyy{
  margin: auto;
}
#gapping{
  height: 100px;
}
img{
  margin-top: 15px;
  border-radius: 15px;
}
div > a:hover{
  color: white;
  font-size: 20px;
  transition: background-color 0.3s ease;
  text-decoration: none; 
  box-shadow: 0 0 20px 5px #eb2e0d;
  transition: box-shadow 0.3s ease;
  
}
div > a{
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-style: italic;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

@keyframes moveText {
  0% {
      transform: translateX(0); 
  }
  50% {
      transform: translateX(25px);
  }
  100% {
      transform: translateX(0); 
  }
}
#logo {
 
  color: #fff;
  text-align: center;
  animation: moveText 4s linear infinite;
}
#footer{
  padding: 10px;
  border-radius: 5px;
  color: black;
  font-style: italic;
  font-size: 18px;
  border-left: 3px black;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.foot{
  border-left: 3px solid black!important;
}

ul > li{
  font-size: 16px;
  list-style: none;
  
}
  a{
    text-decoration: none;
    color: black;
    font-size: 15px;
  }

  a > img{
    margin-top: 0px;
  
  }

  #body2{width: 1200px;
        margin: 0 auto;


  }
 